html, body, container-div{
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.container-div{
    display:grid;
    grid-template-columns: 1fr, 4fr;
    grid-template-rows: 1fr, 8fr;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color:cornflowerblue;
    color: white;
}

.add-book{
    grid-column: 1 / 2;
    grid-row: 2 / 8;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: sticky;
    gap: 25px;
    background-color: white;
    color: cornflowerblue;
    padding :1rem;
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.has-read{
    display: flex;
}

label{
    display: flex;
    justify-content: left;
    padding-bottom: 0.25rem;
}

input{
    display: flex;
    justify-content: right;
    border-radius: 4rem;
    border: 1px solid wheat;
    color: dimgray;
    height: 2rem;
    font-size: medium;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

button{
    background-color: cornflowerblue;
    color: white;
    border-radius: 5rem;
    border: none;
    padding: 0.5rem;
    font-size: medium;
    width: 5rem;
}

.book-list{
    grid-column: 2 / 5;
    grid-row: 2 / 8;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    position: relative;
    background-color: wheat;
}

.footer{
    grid-column: 1 / 5;
    grid-row: 8 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: cornflowerblue;
    color: white;
}

.switch{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 35px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: cornflowerblue;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position: absolute;
    content: "have not";
    height: 30px;
    width: 74px;
    left: 5px;
    bottom: 5px;
    background-color: dimgray;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus + .slider{
    background-color: cornflowerblue;
}

input:checked + .slider:before{
    -webkit-transform: translateX(70px);
    -ms-transform: translateX(70px);
    transform: translateX(70px);
    background-color: white;
    content: "have";
}

.slider.round{
    border-radius: 30px;
}

.slider.round:before{
    border-radius: 30px;
}